<launch>

  <param name="robot_description" textfile="$(find moveo_urdf)/urdf/moveo_urdf.urdf" />

  <rosparam file="$(find moveo_control)/config/control.yaml" command="load"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" args="arm_controller hand_controller joint_state_controller" ns="/moveo_urdf" respawn="false" output="screen"/>

  <!-- convert joint states to TF transforms for rviz, etc --> 
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">

    <remap from="/joint_states" to="/moveo_urdf/joint_states" />
  </node> 

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">[/moveo_urdf/joint_states]</rosparam>
  </node>

</launch>
