<launch>
  
  <include file="$(find moveo_control)/launch/moveo_control.launch"/>

  <include file="$(find moveo_kinect)/launch/kinect.launch"/>

  <include file="$(find moveo_gazebo)/launch/moveo_gazebo.launch"/>

  <include file="$(find moveo_gazebo)/launch/moveo_gazebo_vision.launch"/>

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find moveo_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <!-- Run the main MoveIt! executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find moveo_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find moveo_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>

</launch>